body {
	padding: 0;
	margin: 0;
}

table.sheet {
	table-layout: auto;
	/*border-collapse: collapse;*/
	margin-right: auto;
	margin-left: auto;
	clear: both;
	width: 100%;
}

table.sheet thead th {
	border: 2px solid black;
	/*padding: 0.5vw 1vw;*/
	text-align: center;
}

table.sheet tr td {
	border: 2px solid black;
	font-size: 1.3vw;
	text-align: center;
	padding: 0;
}
table tr td.smaller {
	width: 5%;
}

td input {
	font-size: 1.2vw;
	width: 100%;
	border: 0px;
	text-align: center;
}

input:focus {
	outline: none;
}

p {
	text-align: center;
	font-size: 1.1vw;
	font-weight: bold;
	margin: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

button#submitBtn {
	margin-top: 2vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

div input#ImageButton, div input#machine_no {
	width: 8rem;
	margin-right: 0.5rem;
	text-align: center;
}

section.above_table {
	margin-bottom: 2vw;
	display: inline-block;
	padding: 0;
	width: 100%;
}

div#date_and_year {
	float: right;
	margin-right: 1vw;
}

div#buttons {
	float: left;
	margin-left: 1vw;
	margin-top: 1.6vw;
}

div#machine_and_manual {
	text-align: center;
	margin-top: 1.5vw;
}

input#machine_no {
	font-size: 1.7vw;
	font-weight: 600;
	margin-right: 1vw;
}

input#manual_no {
	border: 0px;
	border-bottom: 1px solid black;
	width: 10vw;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3vw;
	text-align: center;
}

table.sheet thead tr:first-of-type {
	background-color: #5F90FE;
}

table.sheet thead tr:nth-of-type(2) {
	background-color: #FF9736;
}

/*td:empty {
	visibility: hidden;
}*/

tbody.submittedRecord tr.query {
	background-color: #B9B9B9 ;
}